# .coveragerc to control coverage.py
# From http://coverage.readthedocs.io/en/latest/config.html
[report]
ignore_errors = True
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
