flake8
pytest>=3.6
pytest-django
pytest-pythonpath
pytest-cov
requests
markdown
docutils
# JSON-RPC dropped Python 2 support with version 3.0
jsonrpcclient<3
# Do not try to update setuptools to the latest release, which dropped python 3.3 support
setuptools<=39
