/* fix colored pixels visible behind badges with links on Homepage */
#home a.reference.external {
    display: inline-block;
}

/* remove unexpected scrollbar displayed on left sidebar */
div.sidebar-primary-items__end.sidebar-primary__section {
    margin: 0;
}

/* Customize permalink icon size & position */
img.permalink-icon {
    vertical-align: middle;
    position: relative;
    top: -0.1em;
    height: 0.8em;
}

html[data-theme=dark] main.bd-main img.permalink-icon {
    /*
    Permalink icon is customized with _static/permalink.svg file. Unfortunately, the default color of this icon
    is black and is almost invisible with dark theme.
    "color" attribute won't work here, so let's use the "filter" trick (https://stackoverflow.com/a/53336754/1887976)
    */
    filter: invert(88%) sepia(34%) saturate(17%) hue-rotate(217deg) brightness(95%) contrast(101%);
    background: transparent;
}

html[data-theme=light] h4 {
    color: #595858;
}

html[data-theme=dark] h4 {
    color: #b2b0a9;
}
