name: Benchmarks

on:
  push:
    branches-ignore:
      - '*-no-ci'
    tags:
      - '*'
  pull_request:
    branches:
      - main
  schedule:
    # * is a special character in YAML and must be quoted
    - cron: '55 2 */7 * *'
  # Manually triggered workflow
  workflow_dispatch:

env:
  UV_VERSION: 0.9.11

jobs:
  generate-jobs:
    runs-on: ubuntu-latest
    outputs:
      session: ${{ steps.set-matrix.outputs.session }}
    steps:
    - uses: actions/checkout@v6

    - name: Install nox
      uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd  # 2025.11.12 - https://github.com/wntrblm/nox/releases

    - name: Build GH Actions test matrix from nox sessions
      id: set-matrix
      shell: bash
      run: echo session=$(nox -e benchmarks --list --json | jq -c '[.[].session]') | tee --append $GITHUB_OUTPUT

  benchmark:
    name: ${{ matrix.session }}
    needs: [generate-jobs]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        session: ${{ fromJson(needs.generate-jobs.outputs.session) }}
    steps:
    - uses: actions/checkout@v6

    - name: Install nox
      uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd  # 2025.11.12 - https://github.com/wntrblm/nox/releases

    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4, see https://github.com/astral-sh/setup-uv/releases
      with:
        version: ${{ env.UV_VERSION }}

    - name: Run benchmarks
      run: nox -s "${{ matrix.session }}"
