name: Benchmarks

on:
  push:
    branches-ignore:
      - '*-no-ci'
    tags:
      - '*'
  pull_request:
    branches:
      - main
  schedule:
    # * is a special character in YAML and must be quoted
    - cron: '55 2 */7 * *'
  # Manually triggered workflow
  workflow_dispatch:

env:
  UV_VERSION: 0.10.2

jobs:
  generate-jobs:
    runs-on: ubuntu-latest
    outputs:
      session: ${{ steps.set-matrix.outputs.session }}
    steps:
    - uses: actions/checkout@v6

    - name: Install nox
      uses: wntrblm/nox@5a277b752f6094150e25237d47c34168e2b7526e  # 2026.02.09 - https://github.com/wntrblm/nox/releases

    - name: Build GH Actions test matrix from nox sessions
      id: set-matrix
      shell: bash
      run: echo session=$(nox -e benchmarks --list --json | jq -c '[.[].session]') | tee --append $GITHUB_OUTPUT

  benchmark:
    name: ${{ matrix.session }}
    needs: [generate-jobs]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        session: ${{ fromJson(needs.generate-jobs.outputs.session) }}
    steps:
    - uses: actions/checkout@v6

    - name: Install nox
      uses: wntrblm/nox@5a277b752f6094150e25237d47c34168e2b7526e  # 2026.02.09 - https://github.com/wntrblm/nox/releases

    - name: Install uv
      uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0, see https://github.com/astral-sh/setup-uv/releases
      with:
        version: ${{ env.UV_VERSION }}

    - name: Run benchmarks
      run: nox -s "${{ matrix.session }}"
