name: Releases

on:
  push:
    tags:
      - '*'
  # Manually triggered workflow
  workflow_dispatch:
    inputs:
      target_repo:
        description: 'The repository to publish the package'
        required: true
        default: 'pypi.org'
        type: choice
        options:
        - pypi.org
        - test.pypi.org

env:
  UV_VERSION: 0.9.13

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      # inputs.target_repo is set only when workflow was manually triggered. Default to 'pypi.org' for tags push
      pypi_target: ${{ github.event.inputs.target_repo || 'pypi.org' }}

    steps:
    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4, see https://github.com/astral-sh/setup-uv/releases
      with:
        version: ${{ env.UV_VERSION }}

    - name: Build
      run: uv build

    - name: Publish on Pypi
      if: env.pypi_target == 'pypi.org'
      run: uv publish --token ${{ secrets.PYPI_AUTH_TOKEN }}

    - name: Publish on TestPypi
      if: env.pypi_target == 'test.pypi.org'
      run: uv publish --index testpypi --token ${{ secrets.PYPI_AUTH_TOKEN_TEST }}
