name: Tests & Checks

on:
  push:
    branches-ignore:
      - '*-no-ci'
    tags:
      - '*'
  pull_request:
    branches:
      - main
  schedule:
    # * is a special character in YAML and must be quoted
    - cron: '55 2 */7 * *'

env:
  UV_VERSION: 0.9.11

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
    - name: Print env information
      run: |
        echo "github.event_name = ${{ github.event_name }}"
        echo "github.ref = ${{ github.ref }}"
        echo "is a tag = ${{ startsWith(github.ref, 'refs/tags/') }}"
        echo "is a manual run = ${{ github.event.inputs.target_repo != '' }}"

  lockfile-check:
    runs-on: ubuntu-latest
    needs: debug
    steps:
    - uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4, see https://github.com/astral-sh/setup-uv/releases
      with:
        version: ${{ env.UV_VERSION }}
    - name: Check lockfile
      run: uv lock --check

  linter:
    runs-on: ubuntu-latest
    needs: debug
    steps:
    - uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4, see https://github.com/astral-sh/setup-uv/releases
      with:
        version: ${{ env.UV_VERSION }}
    - name: Ruff
      run: uv run ruff check .

  formatter:
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: debug
    steps:
    - uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4, see https://github.com/astral-sh/setup-uv/releases
      with:
        version: ${{ env.UV_VERSION }}
    - name: Ruff Format
      run: uv run ruff format . --check

  mypy:
    runs-on: ubuntu-latest
    needs: debug
    steps:
    - uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4, see https://github.com/astral-sh/setup-uv/releases
      with:
        version: ${{ env.UV_VERSION }}
    - name: Mypy
      run: |
        uv run --group=type-checking mypy .

  generate-jobs:
    runs-on: ubuntu-latest
    needs: debug
    outputs:
      session: ${{ steps.set-matrix.outputs.session }}
    steps:
    - uses: actions/checkout@v6
    - name: Install nox
      uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd  # 2025.11.12 - https://github.com/wntrblm/nox/releases
    - name: Build GH Actions test matrix from nox sessions
      id: set-matrix
      shell: bash
      run: echo session=$(nox -t cicd-tests --list --json | jq -c '[.[].session]') | tee --append $GITHUB_OUTPUT

  tests:
    name: ${{ matrix.session }}
    needs: generate-jobs
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        session: ${{ fromJson(needs.generate-jobs.outputs.session) }}
    steps:
    - uses: actions/checkout@v6

    - name: Install nox
      uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd  # 2025.11.12 - https://github.com/wntrblm/nox/releases

    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4, see https://github.com/astral-sh/setup-uv/releases
      with:
        version: ${{ env.UV_VERSION }}

    - name: Test session
      run: nox -s "${{ matrix.session }}" -- --cov --cov-report=xml:coverage.xml

    - name: Submit coverage report - Coveralls
      continue-on-error: true
      uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6 - https://github.com/coverallsapp/github-action/releases

    - name: Submit coverage report - Codacy
      continue-on-error: true
      env:
        CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
      run: uvx --from codacy-coverage python-codacy-coverage -r coverage.xml

    - uses: gacts/github-slug@91cb78e803e07ccf88570afeddeabaad93c8f4cb # v1.3.4 - https://github.com/gacts/github-slug/releases
      id: test-session-slug
      with:
        to-slug: "${{ matrix.session }}"

    - name: Archive coverage report
      uses: actions/upload-artifact@v4
      with:
        name: report-${{ steps.test-session-slug.outputs.slug }}
        path: coverage.xml

  sonar:
    runs-on: ubuntu-latest
    needs: tests
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0  # SonraQube analysis requires disabling shallow clones

    - name: Collect coverage report files
      uses: actions/download-artifact@v4
      with:
        path: ./artifacts

    - name: SonarQube Scan + Coverage upload
      continue-on-error: true
      uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0 - https://github.com/SonarSource/sonarqube-scan-action/releases
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          --define sonar.python.coverage.reportPaths="artifacts/report-*/coverage.xml"
